/* ----- import font(s) ----- */

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* Primary palette */
    --clr-primary-white: hsl(0, 0%, 100%);
    --clr-primary-black: hsl(0, 0%, 20%);
    --clr-primary-blue-dark: hsl(218, 50%, 21%);
    --clr-primary-blue-pale: hsl(223, 30%, 95%);
    --clr-primary-gold: hsl(47, 100%, 61%);
    /* Letter spacing */
    --ls-spaced-main: letter-spacing: 0.01rem;
    /* Shadow */
    --shadow-main: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.2);
    --shadow-darker: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.3);
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 0.875rem;
    color: var(--clr-primary-black);
    justify-content: center;
    min-height: 100vh;
    font-family: Cabin, sans-serif;
}

body>* {
    position: relative;
    /* overflow: hidden; */
    min-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
}

h2,
h3 {
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1.25rem auto 0;
    padding: .3125rem .625rem 1.25rem;
    font-size: 3.125rem;
    color: var(--clr-primary-blue-dark);
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    max-width: 81.25rem;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem 1rem 2rem;
    text-align: center;
    line-height: 1;
    color: var(--clr-primary-blue-dark);
}


/* Media Query */


/* small mobile */

@media screen and (max-width: 360px) {
    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--clr-primary-gold);
    letter-spacing: var(--ls-spaced-main);
    margin-bottom: 0.3rem;
    opacity: .85;
}

h5 {
    color: var(--clr-primary-blue-dark);
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.35;
}

h6 {
    line-height: 1.25;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

p {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

ul {
    text-align: center;
    margin-bottom: 1.25rem;
}

li {
    font-size: 1rem;
}

button {
    cursor: pointer;
    border: none;
}

main {
    width: 100%;
    /* background-color: var(--clr-primary-blue-pale); */
}

main>* {
    margin-top: 0;
    padding-top: .625rem;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: auto 27rem;
    grid-auto-rows: 35rem minmax(33rem, auto) minmax(33rem, auto) minmax(33rem, auto) auto;
    /* gap: 1rem; */
}

aside {
    /* background-color: #005960; */
    grid-row: 1 / 6;
    grid-column: 2 / 3;
    padding: 0 .625rem;
    position: relative;
    top: -.625rem;
}


/*  Global utility classes */

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-max {
    max-width: calc(81.25rem + 4.34vw);
    margin-left: 0;
    margin-right: auto;
}


/* Media Query */


/* extra-large desktop */

@media screen and (min-width: 1600px) {
    .width-max {
        max-width: calc(81.25rem + 8.9vw);
    }
}


/*
=============== 
Buttons
===============
*/

.dropdown-toggle {
    background-color: var(--clr-primary-blue-dark);
    text-align: left;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.4375rem 1.25rem;
    position: relative;
    z-index: 5;
}


/* Media Query */


/* large desktop */

@media screen and (min-width: 1440px) {
    .dropdown-toggle {
        padding: 0.4375rem 4rem;
    }
}


/* extra-large desktop */

@media screen and (min-width: 1600px) {
    .dropdown-toggle {
        padding: 0.4375rem 5rem;
    }
}

.btn {
    font-size: 1.125rem;
    line-height: 1.1;
    text-transform: none;
    font-weight: 600;
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    letter-spacing: var(--ls-spaced-main);
    color: var(--clr-primary-white);
    border: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center;
    vertical-align: middle;
}

.btn.btn-brand-1 {
    background-color: var(--clr-primary-gold);
    color: var(--clr-primary-blue-dark);
    min-width: 12.5rem;
}


/*
=============== 
Navbar
===============
*/

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 22% 56% 22%;
    grid-template-rows: 8.125rem 4.5rem;
}

.nav,
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav {
    position: relative;
    text-align: center;
    padding-left: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 6;
    background-color: var(--clr-primary-white);
}

.nav>li {
    margin: 0;
    line-height: 1.6;
    padding: 0;
    position: relative;
}

.nav-primary>li:hover>a {
    background-color: hsl(223, 30%, 95%);
    border-radius: 0.25rem;
}

.nav>li>a {
    display: inline-block;
    color: var(--clr-primary-blue-dark);
    position: relative;
    text-decoration: none;
    font-size: 1.15rem;
    letter-spacing: var(--ls-spaced-main);
    padding: 1rem 0.8rem;
    transition: all 0.35s linear;
}

.nav-primary>li:hover>ul {
    left: 0;
    opacity: 1;
    top: 3.7rem;
}

.nav-primary>li:hover>ul>li {
    background-color: hsl(223, 30%, 95%);
}

.nav ul {
    position: absolute;
    top: -600rem;
    left: -600rem;
    opacity: 0;
    box-shadow: 0.125rem 0.125rem 0.125rem hsla(0, 0%, 0%, 0.2);
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: opacity 0.35s linear;
    z-index: 10;
}

.nav ul li {
    display: block;
    position: relative;
    border-bottom: 0;
    text-align: left;
    width: 16rem;
    transition: all 0.35s linear;
}

.nav ul li:first-of-type {
    padding-top: 0.8rem;
    border-top-right-radius: 0.5rem;
}

.nav ul li:last-of-type {
    padding-bottom: 1.25rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.nav ul li a,
.dropdown-menu ul li a {
    display: block;
    padding: 0.25rem 0.75rem 0.5rem 1rem;
    letter-spacing: var(--ls-spaced-main);
}

.nav ul li a {
    color: var(--clr-primary-blue-dark);
    font-size: 1rem;
}

.dropdown-menu ul li a {
    color: var(--clr-primary-white);
    font-size: 1rem;
    opacity: .925;
}

.dropdown-menu ul li:first-child a,
.dropdown-menu ul li:nth-child(3) a,
.dropdown-menu ul li:nth-child(5) a,
.dropdown-menu ul li:nth-child(7) a {
    padding-left: 2rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-color: var(--clr-primary-white);
    z-index: 4;
}

.navbar-brand:first-of-type {
    padding-left: 1.25rem;
}

.navbar-brand:last-of-type {
    padding-right: 1.25rem;
}

.navbar-brand__main>img {
    height: 4.375rem;
    width: 15.5rem;
}

.navbar-search {
    grid-column: 1 / 4;
    position: relative;
}

.dropdown-toggle>p {
    margin-bottom: 0;
    color: var(--clr-primary-white);
    font-size: 0.8rem;
    letter-spacing: var(--ls-spaced-main);
    opacity: .85;
}

.toggle-icons {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.toggle-icons>span {
    height: 100%;
    width: 100%;
}

.toggle-icons>span.active {
    transform: translateY(-100%);
}

.fa-search,
.fa-times {
    color: var(--clr-primary-white);
    font-size: 1.75rem;
    font-weight: 600;
    opacity: .85;
}

.fa-search {
    transform: rotateY(180deg);
}

.dropdown-menu {
    grid-column: 1 / 3;
    background-color: var(--clr-primary-blue-dark);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    z-index: 3;
    top: -15rem;
}

.dropdown-menu.show {
    top: 0;
}

.dropdown-menu>ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .75rem;
}

.dropdown-menu>ul>li {
    width: 50%;
    text-align: left;
}

.fa-chevron-right {
    opacity: .85;
    padding-right: .2rem;
    font-weight: 600;
}

form {
    padding: 0 2.5rem 1.5rem;
}

.form-group {
    position: relative;
}

.form-group input {
    width: 100%;
    padding: .85rem 1rem;
    border-radius: .4rem;
    font-size: 1rem;
    border: none;
    padding-left: 2.4rem;
    border: .15rem solid var(--clr-primary-blue-dark);
}

.form-group input:focus {
    border: .15rem solid hsl(218, 50%, 40%);
    outline: none;
}

.form-group input::placeholder {
    color: hsl(210, 9%, 31%);
    opacity: .75;
}

.form-group .fa-search {
    position: absolute;
    color: hsl(210, 9%, 31%);
    left: .85rem;
    font-size: 1.125rem;
    top: .85rem;
    opacity: .6;
}


/* Media Query */


/* large desktop */

@media screen and (min-width: 1440px) {
    .navbar-brand:first-of-type {
        padding-left: 4rem;
    }
    .navbar-brand:last-of-type {
        padding-right: 4rem;
    }
    /* .toggle-icons {
        right: 4rem;
    } */
    .dropdown-menu {
        padding-left: 2rem;
    }
    form {
        padding: 0 4.5rem 1.5rem 2.5rem;
    }
}


/* extra-large desktop */

@media screen and (min-width: 1600px) {
    .navbar-brand:first-of-type {
        padding-left: 5rem;
    }
    .navbar-brand:last-of-type {
        padding-right: 5rem;
    }
    /* .toggle-icons {
        right: 5rem;
    } */
    .dropdown-menu {
        padding-left: 3rem;
    }
    form {
        padding: 0 5.5rem 1.5rem 2.5rem;
    }
}


/*
=============== 
Header
===============
*/

.banner {
    width: 100%;
    height: 18rem;
    background: url(../images/sjh-pathology-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}

h1::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: .125rem;
    content: "";
    background-color: var(--clr-primary-gold);
    margin-left: .625rem;
    margin-right: .625rem;
}

.header-sub {
    padding: .75rem .625rem .8125rem;
    display: flex;
    max-width: 81.25rem;
    margin-left: auto;
    margin-right: auto;
}

.header-sub>ol {
    width: calc(100% - 20rem);
    min-width: 56rem;
}

.header-sub>.container {
    width: 20rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-breadcrumbs {
    padding-left: 0;
}

.breadcrumb a::before {
    display: inline-block;
    padding-right: .5rem;
    content: "/";
}

.breadcrumb:first-of-type a::before {
    display: none;
}

.nav-breadcrumbs>li>a {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: .5rem;
    font-size: 1rem;
    color: hsl(0, 0%, 51%);
    font-weight: 400;
}

.nav-breadcrumbs>li:first-child>a {
    padding-left: 0;
}

.breadcrumb:last-of-type a {
    font-weight: 700;
}

.nav-social,
.nav-print {
    padding-left: 0;
}

.nav-social>li,
.nav-print>li {
    padding-left: .5rem;
}

.nav-social>li>a,
.nav-print>li>a {
    padding: .125rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    border: .125rem solid hsl(223, 30%, 95%);
    border-radius: 50%;
    font-size: 1rem;
}

.nav-social>li:first-of-type>a {
    color: hsl(212, 65%, 43%);
}

.nav-social>li:nth-of-type(2)>a {
    color: hsl(213, 90%, 52%);
}

.nav-social>li:nth-of-type(3)>a {
    color: hsl(204, 79%, 47%);
}

.nav-social+h5 {
    padding-left: 1rem;
}

.nav-print>li:first-of-type>a {
    color: var(--clr-primary-blue-dark);
}


/*
=============== 
Carousel
===============
*/

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -400%;
    }
    98% {
        left: -400%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

.carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0;
}

.carousel *::-webkit-scrollbar {
    width: 0;
}

.carousel *::-webkit-scrollbar-track {
    background: transparent;
}

.carousel *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

.carousel * {
    -ms-overflow-style: none;
}


/* ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
} */

.carousel {
    position: relative;
    padding-top: 32.539rem;
    /* filter: drop-shadow(0 0 10px #0003); */
    perspective: 6.25rem;
    margin-left: .625rem;
    margin-bottom: 3rem;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 3rem;
    max-width: 47rem;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel__slide::marker {
    color: transparent;
}

.carousel__slide:first-child {
    background-image: url(../images/carousel-image-1.jpg);
}

.carousel__slide:nth-child(2) {
    background-image: url(../images/carousel-image-2.jpeg);
}

.carousel__slide:nth-child(3) {
    background-image: url(../images/carousel-image-3.jpg);
    background-position: center bottom;
}

.carousel__slide:nth-child(4) {
    background-image: url(../images/carousel-image-4.jpeg);
    background-position: center bottom;
}

.carousel__slide:nth-child(5) {
    background-image: url(../images/carousel-image-5.jpg);
    background-position: center bottom;
}

.carousel__slide:before {
    content: "";
    position: absolute;
    top: 66.3%;
    left: 50%;
    transform: translate3d(-50%, -40%, 4.375rem);
    color: var(--clr-primary-white);
    background-color: var(--clr-primary-blue-dark);
    width: 100%;
    opacity: .75;
    height: 6%;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    max-width: 47rem;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--clr-primary-blue-dark);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 24%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: 1%;
}

.carousel::after,
.carousel__next {
    left: calc(43rem - 1%);
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: var(--clr-primary-blue-dark);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--clr-primary-white);
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel__slide>.btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__slide>.btn:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

@media screen and (min-width: 1440px) {
    .carousel {
        margin-left: calc(.625rem + 4.34vw);
    }
}


/* extra-large desktop */

@media screen and (min-width: 1600px) {
    .carousel {
        margin-left: calc(.625rem + 8.9vw);
    }
}


/*
=============== 
Media Resources
===============
*/

.tabset-media .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.9375rem;
    margin-left: -.9375rem;
}

.tabset-media .col-md-1 {
    -webkit-box-flex: 0;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: .9375rem;
    padding-right: .9375rem;
    min-height: 25rem;
}

.tabset-media .col-md-11 {
    -webkit-box-flex: 0;
    flex: 0 0 calc(91% - .5rem);
    max-width: calc(91% - .5rem);
    padding: 2rem 2.5rem 2rem 3rem;
    background-color: var(--clr-primary-white);
    border: .0625rem solid var(--clr-primary-blue-dark);
    position: relative;
    left: .0625rem;
    border-radius: .25rem;
}

.tabset-media .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.tabset-media .nav>li>a {
    color: var(--clr-primary-blue-dark);
    text-decoration: none;
    background-color: transparent;
}

.tabset-media .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.tabset-media .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.tabset-media .nav-tabs .nav-link.active,
.tabset-media .nav-tabs .nav-item.show .nav-link {
    color: #7b8a8b;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tabset-media .nav-tabs .nav-link.active,
.tabset-media .nav-tabs .nav-link.active:focus,
.tabset-media .nav-tabs .nav-link.active:hover,
.tabset-media .nav-tabs .nav-item.open .nav-link,
.tabset-media .nav-tabs .nav-item.open .nav-link:focus,
.tabset-media .nav-tabs .nav-item.open .nav-link:hover {
    color: #2C3E50;
}

.tabset-media .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 71.25rem;
}

.tabset-media .tab-content {
    padding: 0;
}

.tabset-media .tab-content>.tab-pane {
    display: none;
}

.tabset-media .tab-content>.active {
    display: block;
}

.sideways-tabs.left-tabs .nav-link.active {
    border-top: .0625rem solid var(--clr-primary-blue-dark);
    border-right: .0625rem solid var(--clr-primary-blue-dark);
    border-bottom: .0625rem solid transparent;
    border-left: .0625rem solid var(--clr-primary-blue-dark);
    padding-bottom: 1rem;
    bottom: .5rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.sideways-tabs.left-tabs .nav-link {
    background-color: var(--clr-primary-blue-dark);
    color: var(--clr-primary-white);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.tabset-media h3 {
    text-align: center;
    font-size: 3.75rem;
    color: var(--clr-primary-blue-dark);
}

.tabset-media .img-wrapper {
    height: 6.5rem;
}

.tabset-media p {
    font-size: .935rem;
}

.tabset-media img {
    width: 8rem;
    height: auto;
    margin-bottom: 1rem;
}

.tabset-media .tab-content li:first-of-type img {
    width: 3rem;
}

.tabset-media .tab-content li:nth-of-type(2) img {
    width: 12rem;
}

.tabset-media .tab-content li:nth-of-type(4) img {
    width: 5rem;
}

.tabset-media article:nth-of-type(2) h3 {
    margin-bottom: 2rem;
}

.tabset-media article ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
}

.tabset-media article:nth-of-type(2) ul {
    flex-direction: column;
}

.tabset-media article li {
    width: 45.5%;
    margin-bottom: 1rem;
    text-align: left;
    transition: all .2s linear;
    border-radius: .25rem;
}

.tabset-media article:first-of-type li {
    padding-left: 1rem;
    padding-right: .75rem;
}

.tabset-media article:nth-of-type(2) li {
    width: 100%;
    margin-bottom: .5rem;
    min-height: 12.625rem;
}

.tabset-media article li a {
    color: var(--clr-primary-black);
    line-height: 1.33;
}

.tabset-media article li:hover {
    background-color: hsl(0, 0%, 97%);
}

.tabset-media article:nth-of-type(2) li a {
    display: flex;
    text-align: left;
}

.tabset-media article:nth-of-type(2) li a .media-wrapper {
    width: 53%;
    padding-top: 1rem;
    padding-left: 1rem;
}

.media-wrapper iframe {
    border: .05rem solid hsl(0, 0%, 90%);
    border-radius: .125rem;
}

.tabset-media article:nth-of-type(2) li a .text-wrapper {
    width: 47%;
    padding: 1rem .75rem 0 1rem;
}

.tabset-media article:nth-of-type(2) li a .text-wrapper p {
    font-size: .87rem;
    line-height: 1.45;
}

.tabset-media article:nth-of-type(2) li a .text-wrapper h4 {
    color: unset;
    margin-bottom: .625rem;
    font-weight: 800;
}


/* Media Query */


/* large desktop */

@media screen and (min-width: 1440px) {
    .tabset-media .col-md-1 {
        -webkit-box-flex: 0;
        flex: 0 0 4.34vw;
        max-width: 4.34vw;
        padding-left: 1.875rem;
    }
    .tabset-media .col-md-11 {
        left: calc(1rem + 8.3333333333% - 4.34vw);
    }
    .container-tabset:nth-of-type(2)>h2,
    .container-tabset:nth-of-type(2)>.tabset {
        max-width: calc(46.0625rem + 4.34vw);
    }
    .sideways-tabs.left-tabs .nav-link.active {
        bottom: .25rem;
    }
    .sideways-tabs.left-tabs .nav-link {
        bottom: -.25rem;
    }
}


/*
=============== 
Learning Supports
===============
*/

.container-tabset {
    background-color: var(--clr-primary-blue-pale);
    padding: 1rem 1rem 0 .625rem;
}

.tabset {
    position: relative;
}

.container-tabset>h2,
.tabset {
    max-width: 47rem;
}

.container-tabset:nth-of-type(2)>h2 {
    margin-left: 3rem;
    max-width: 44rem;
}

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3) {
    display: flex;
    align-items: center;
}

.tabset>label {
    position: relative;
    display: inline-block;
    padding: 1.625rem 1rem 2.625rem;
    margin-bottom: -1.875rem;
    border: .0625rem solid transparent;
    border-bottom: 0;
    cursor: pointer;
    width: 33.05%;
    text-align: center;
    background-color: var(--clr-primary-blue-dark);
    top: 1rem;
    /* transition: top .2s; */
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    opacity: .925;
}

.tabset>label:nth-of-type(3) {
    right: -.045%;
    position: absolute;
}

.tabset>label>h4 {
    color: var(--clr-primary-white);
}

.tabset>label>h4,
.tabset>input:checked+label>h4 {
    opacity: unset;
    margin-bottom: unset;
}

.tabset>label>h4>span,
.tabset>input:checked+label>h4>span {
    font-weight: 500;
    letter-spacing: unset;
    font-family: sans-serif;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: var(--clr-primary-gold);
}

.tabset>input:checked+label {
    border-color: var(--clr-primary-blue-dark);
    border-bottom: .0625rem solid var(--clr-primary-white);
    margin-bottom: -.0625rem;
    background: var(--clr-primary-white);
    padding-bottom: 2.5rem;
    top: .025rem;
    position: relative;
    z-index: 3;
    /* transition: top .2s; */
    opacity: 1;
}

.tabset>input:checked+label>h4 {
    color: var(--clr-primary-blue-dark);
}

.tab-panels {
    z-index: 2;
    position: relative;
    background-color: var(--clr-primary-white);
    margin-bottom: 0;
}

.tab-panels .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 15.72rem;
    position: relative;
    margin-right: 2.75rem;
    top: -1rem;
}

.tab-panel {
    padding: 2.5rem 3rem 2.5rem 2.5rem;
    border: .0625rem solid var(--clr-primary-blue-dark);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    min-height: 23.125rem;
}

.tab-panel img {
    width: 10rem;
}

.tab-panel .logo-expertpath {
    width: 8rem;
    position: absolute;
    top: 3%;
    left: 13%;
}

.tab-panel p {
    text-align: left;
}

#learning-supports .btn,
#lectures .btn {
    display: inline-block;
    margin-top: 1rem;
    min-width: 8rem;
    padding: .8rem 1.1rem;
    font-size: .875rem;
}

#learning-supports .btn:hover,
#lectures .btn:hover {
    transform: scale(1.05);
}

.tab-panel:nth-of-type(2) .img-wrapper {
    top: -1.5rem;
}

#learning-supports .tab-panel:nth-of-type(3) .img-wrapper img {
    width: 8rem;
}

#learning-supports .tab-panel:nth-of-type(3) .img-wrapper .btn {
    margin-top: 3rem;
}

#learning-supports .tab-panel:nth-of-type(2) .img-wrapper .btn {
    margin-top: 2rem;
}


/* Media Query */


/* large desktop */

@media screen and (min-width: 1440px) {
    .container-tabset:first-of-type>h2,
    .container-tabset:first-of-type>.tabset,
    .container-tabset:nth-of-type(3)>h2,
    .container-tabset:nth-of-type(3)>.tabset,
    .container-tabset:nth-of-type(4)>h2,
    .container-tabset:nth-of-type(4)>.tabset {
        margin-left: 4.34vw;
    }
}


/* extra-large desktop */

@media screen and (min-width: 1600px) {
    .container-tabset:first-of-type>h2,
    .container-tabset:first-of-type>.tabset,
    .container-tabset:nth-of-type(3)>h2,
    .container-tabset:nth-of-type(3)>.tabset,
    .container-tabset:nth-of-type(4)>h2,
    .container-tabset:nth-of-type(4)>.tabset {
        margin-left: 8.9vw;
    }
}


/*
=============== 
Slides
===============
*/

.tabset-slides {
    display: flex;
    justify-content: center;
}

.tabset-slides img {
    display: block;
    width: 100%;
    height: 100%;
}

.tabset-slides .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabset-slides .container {
    display: grid;
    grid-template-columns: repeat(4, 12.5vw);
    grid-template-rows: repeat(4, 12.5vw);
}

.tabset-slides .image:first-child {
    grid-column: 2/4;
}

.tabset-slides .image:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 2/4;
}

.tabset-slides .image:nth-of-type(3) {
    grid-column: 3/5;
    grid-row: 2/4;
}

.tabset-slides .image:nth-of-type(4) {
    grid-column: 2/4;
    grid-row: 3/5;
}

.tabset-slides .image {
    margin: 0;
    height: 0;
    padding-top: 25vw;
    overflow: hidden;
    position: relative;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    /* filter: grayscale(100%); */
    transition: all .1s ease-in-out;
}

.tabset-slides .image:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.0375);
}

.tabset-slides img {
    object-fit: cover;
    object-position: top;
}

.tabset-slides img,
.tabset-slides .overlay,
.tabset-slides .overlay-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--clr-primary-blue-dark);
}

.tabset-slides .overlay {
    opacity: 0;
    transition: all .1s ease-in-out;
}

.tabset-slides .overlay-text {
    opacity: 0;
    color: var(--clr-primary-white);
    background-color: transparent;
    transition: all .1s ease-in-out;
}

.tabset-slides .image:hover .overlay {
    opacity: .9;
}

.tabset-slides .image:hover .overlay-text {
    opacity: 1;
}

.tabset-slides .image:first-child img {
    object-fit: contain;
    object-position: center;
}

.tabset-slides .image::after {
    content: "";
    border: 0.5vw solid white;
    height: 72%;
    width: 72%;
    top: 14%;
    left: 14%;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: center;
    box-sizing: border-box;
}


/*
=============== 
Lectures
===============
*/

.container-tabset:last-of-type {
    padding-bottom: 3.125rem;
}

.lectures h5 {
    color: var(--clr-primary-white);
    font-size: 1.25rem;
}

.lectures input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.lectures .row {
    display: flex;
}

.lectures .row>.col {
    flex: 1;
}

.lectures .tabs {
    border-radius: .25rem;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
}

.lectures .tab {
    width: 100%;
    color: var(--clr-primary-white);
    overflow: hidden;
}

.lectures .tab-content {
    height: 0;
    padding: 0 1.25rem;
    color: var(--clr-primary-black);
    background: var(--clr-primary-white);
    transition: all .25s;
}

.lectures .tab-content>* {
    opacity: 0;
}

.lectures .tab-content img {
    width: 10rem;
    margin-bottom: 1.75rem;
}

.lectures .tab:nth-of-type(2) .tab-content>img {
    width: 11rem;
    margin-right: 1.5rem;
}

.lectures .tab:nth-of-type(3) .tab-content img {
    width: 6rem;
    margin-bottom: .25rem;
}

.lectures .tab-content p {
    margin: 0 0 .5rem 0;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--clr-primary-black);
}

.lectures .tab-content ul {
    text-align: left;
    margin-bottom: 0;
    list-style-type: disc;
    list-style-position: inside;
}

.lectures .tab-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.5rem 1rem 1.25rem;
    background: var(--clr-primary-blue-dark);
    font-weight: 700;
    cursor: pointer;
    line-height: 1;
    margin-bottom: .125rem;
    z-index: 7;
}

.lectures .tab-label:hover {
    background: hsl(218, 50%, 16%);
}

.lectures .tab-label::after {
    content: "\002B";
    font-size: 3.1rem;
    text-align: center;
    font-weight: 400;
    transition: all .35s;
}

input:checked+.tab-label,
input:checked+.tab-label h5 {
    /* background: hsl(218, 50%, 16%); */
    color: var(--clr-primary-gold);
}

input:checked+.tab-label::after {
    content: "\2212";
}

input:checked~.tab-content {
    height: 15rem;
    padding: 1.75rem 3rem 1.75rem 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.lectures .tab:nth-of-type(3) input:checked~.tab-content {
    padding: 1.75rem 3rem 1.75rem 3.25rem;
}

input:checked~.tab-content>.img-wrapper-lectures {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
}

.tab:nth-of-type(3) input:checked~.tab-content>.img-wrapper-lectures {
    margin-right: 3.75rem;
}

input:checked~.tab-content>* {
    animation: text-fade-in .125s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .125s;
}

@keyframes text-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*
=============== 
Footer
===============
*/

footer {
    padding: 3.125rem 0 4.375rem;
    background-color: var(--clr-primary-blue-pale);
}

.footer p,
.footer ul {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
}

footer>.container {
    padding: 0 .625rem;
    max-width: 81.25rem;
    margin-left: auto;
    margin-right: auto;
}

footer>.container>.row {
    margin: 0 -.625rem;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

footer>.container>.row:first-of-type {
    padding-bottom: 2.5rem;
}

footer>.container>.row::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: .125rem;
    content: "";
    background-color: var(--clr-primary-gold);
    margin-left: .625rem;
    margin-right: .625rem;
}

footer>.container>.row>.col-md-3,
footer>.container>.row>.col-lg-3 {
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0 .625rem;
}

footer>.container>.row>.col-lg-12 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 .625rem;
    margin-top: .625rem;
}

footer>.container>.row ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

footer>.container>.row a {
    color: var(--clr-primary-black);
}

.footer .footer__bottom {
    padding: 2.5rem 0;
}

footer>.container>.row>.col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .contact-info .contact-info__link {
    position: relative;
    color: hsl(218, 51%, 41%);
    font-weight: bold;
}

.footer .contact-info .contact-info__link span {
    color: var(--clr-primary-black);
    margin-right: 1.75rem;
}

.footer .nav {
    justify-content: flex-end;
    background-color: var(--clr-primary-blue-pale);
}

.footer .nav-social a {
    background-color: var(--clr-primary-white);
    border: .125rem solid var(--clr-primary-white)
}

.footer .nav-social>li:first-of-type>a {
    color: hsl(212, 65%, 43%);
}

.footer .nav-social>li:nth-of-type(2)>a {
    color: hsl(213, 90%, 52%);
}

.footer .nav-social>li:nth-of-type(3)>a {
    color: hsl(204, 79%, 47%);
}

.footer .footer__info p {
    float: left;
    max-width: 65%;
}

.footer .logos {
    float: right;
    margin: -10px auto 1.25rem;
    text-align: left;
}

.footer .logos img,
.footer .logos svg {
    width: auto;
    height: 5rem;
    max-width: 100%;
    display: inline-block;
    margin: 0 0 0 .625rem;
}

.footer .logos img.logos__padding {
    padding: .1875rem 0 .1875rem .3125rem;
}

.footer .footer__links-inline {
    text-align: left;
    margin-top: 0;
    float: left;
    max-width: 60%;
}

.footer .footer__links-inline li {
    margin: 0 .3125rem 0 0;
    padding: 0 .5rem 0 0;
    display: inline-block;
    border-right: .0625rem solid var(--clr-primary-blue-dark);
    font-size: 1rem;
}

.footer .footer__links-inline li:last-child {
    border: 0;
}