/* ----- import font(s) ----- */

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* Primary palette */
    --clr-primary-white: hsl(0, 0%, 100%);
    --clr-primary-black: hsl(0, 0%, 0%);
    --clr-primary-blue-dark: hsl(218, 50%, 21%);
    --clr-primary-blue-pale: hsl(223, 30%, 95%);
    --clr-primary-gold: hsl(47, 100%, 61%);
    /* Letter spacing */
    --ls-spaced-main: letter-spacing: 0.01rem;
    /* Shadow */
    --shadow-main: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.2);
    --shadow-darker: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.3);
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 0.875rem;
    color: var(--clr-primary-black-black);
    justify-content: center;
    min-height: 100vh;
    font-family: Cabin, sans-serif;
}

body>* {
    position: relative;
    /* overflow: hidden; */
    min-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
}

h2,
h3 {
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1.25rem 0 0;
    padding: .3125rem .625rem 1.25rem;
    font-size: 3.125rem;
    color: var(--clr-primary-blue-dark);
    font-weight: 700;
    line-height: 1.2;
    position: relative;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 1rem 1rem 2rem;
    text-align: center;
    line-height: 1;
    color: var(--clr-primary-blue-dark);
}


/* Media Query */


/* small mobile */

@media screen and (max-width: 360px) {
    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--clr-primary-gold);
    letter-spacing: var(--ls-spaced-main);
    margin-bottom: 0.3rem;
    opacity: .85;
}

h5 {
    color: var(--clr-primary-blue-dark);
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.35;
}

h6 {
    line-height: 1.15;
    font-size: 1rem;
    font-weight: 400;
}

p {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

ul {
    text-align: center;
    margin-bottom: 1.25rem;
}

li {
    font-size: 1rem;
}

button {
    cursor: pointer;
    border: none;
}

main {
    margin-top: 0;
    padding-top: .625rem;
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: auto 27rem;
    grid-auto-rows: 35rem minmax(35rem, auto) auto;
    /* gap: 1rem; */
    grid-auto-flow: dense;
}

aside {
    /* background-color: #005960; */
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    padding: 0 .625rem;
    background: var(--clr-primary-blue-pale);
}


/*  Global utility classes */

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
=============== 
Buttons
===============
*/

.dropdown-toggle {
    background-color: var(--clr-primary-blue-dark);
    text-align: left;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.4375rem 1.25rem;
    position: relative;
    z-index: 5;
}

.btn {
    font-size: 1.125rem;
    line-height: 1.1;
    text-transform: none;
    font-weight: 600;
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    letter-spacing: var(--ls-spaced-main);
    color: var(--clr-primary-white);
    border: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center;
    vertical-align: middle;
}

.btn.btn-brand-1 {
    background-color: var(--clr-primary-gold);
    color: var(--clr-primary-blue-dark);
    min-width: 12.5rem;
}


/*
=============== 
Navbar
===============
*/

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 22% 56% 22%;
    grid-template-rows: 8.125rem 4.5rem;
}

.nav,
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav {
    position: relative;
    text-align: center;
    padding-left: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 6;
    background-color: var(--clr-primary-white);
}

.nav>li {
    margin: 0;
    line-height: 1.6;
    padding: 0;
    position: relative;
}

.nav-primary>li:hover>a {
    background-color: hsl(223, 30%, 95%);
    border-radius: 0.25rem;
}

.nav>li>a {
    display: inline-block;
    color: var(--clr-primary-blue-dark);
    position: relative;
    text-decoration: none;
    font-size: 1.15rem;
    letter-spacing: var(--ls-spaced-main);
    padding: 1rem 0.8rem;
    transition: all 0.35s linear;
}

.nav-primary>li:hover>ul {
    left: 0;
    opacity: 1;
    top: 3.7rem;
}

.nav-primary>li:hover>ul>li {
    background-color: hsl(223, 30%, 95%);
}

.nav ul {
    position: absolute;
    top: -600rem;
    left: -600rem;
    opacity: 0;
    box-shadow: 0.125rem 0.125rem 0.125rem hsla(0, 0%, 0%, 0.2);
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: opacity 0.35s linear;
    z-index: 10;
}

.nav ul li {
    display: block;
    position: relative;
    border-bottom: 0;
    text-align: left;
    width: 16rem;
    transition: all 0.35s linear;
}

.nav ul li:first-of-type {
    padding-top: 0.8rem;
    border-top-right-radius: 0.5rem;
}

.nav ul li:last-of-type {
    padding-bottom: 1.25rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.nav ul li a,
.dropdown-menu ul li a {
    display: block;
    padding: 0.25rem 0.75rem 0.5rem 1rem;
    letter-spacing: var(--ls-spaced-main);
}

.nav ul li a {
    color: var(--clr-primary-blue-dark);
    font-size: 1rem;
}

.dropdown-menu ul li a {
    color: var(--clr-primary-white);
    font-size: 1rem;
    opacity: .925;
}

.dropdown-menu ul li:first-child a,
.dropdown-menu ul li:nth-child(3) a,
.dropdown-menu ul li:nth-child(5) a,
.dropdown-menu ul li:nth-child(7) a {
    padding-left: 2rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-color: var(--clr-primary-white);
    z-index: 4;
}

.navbar-brand:first-of-type {
    padding-left: 1.25rem;
}

.navbar-brand:last-of-type {
    padding-right: 1.25rem;
}

.navbar-brand__main>img {
    height: 4.375rem;
    width: 15.5rem;
}

.navbar-search {
    grid-column: 1 / 4;
    position: relative;
}

.dropdown-toggle>p {
    margin-bottom: 0;
    color: var(--clr-primary-white);
    font-size: 0.8rem;
    letter-spacing: var(--ls-spaced-main);
    opacity: .85;
}

.toggle-icons {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.toggle-icons>span {
    height: 100%;
    width: 100%;
}

.toggle-icons>span.active {
    transform: translateY(-100%);
}

.fa-search,
.fa-times {
    color: var(--clr-primary-white);
    font-size: 1.75rem;
    font-weight: 600;
    opacity: .85;
}

.fa-search {
    transform: rotateY(180deg);
}

.dropdown-menu {
    grid-column: 1 / 3;
    background-color: var(--clr-primary-blue-dark);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    z-index: 3;
    top: -15rem;
}

.dropdown-menu.show {
    top: 0;
}

.dropdown-menu>ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .75rem;
}

.dropdown-menu>ul>li {
    width: 50%;
    text-align: left;
}

.fa-chevron-right {
    opacity: .85;
    padding-right: .2rem;
    font-weight: 600;
}

form {
    padding: 0 2.5rem 1.5rem;
}

.form-group {
    position: relative;
}

.form-group input {
    width: 100%;
    padding: .85rem 1rem;
    border-radius: .4rem;
    font-size: 1rem;
    border: none;
    padding-left: 2.4rem;
    border: .15rem solid var(--clr-primary-blue-dark);
}

.form-group input:focus {
    border: .15rem solid hsl(218, 50%, 40%);
    outline: none;
}

.form-group input::placeholder {
    color: hsl(210, 9%, 31%);
    opacity: .75;
}

.form-group .fa-search {
    position: absolute;
    color: hsl(210, 9%, 31%);
    left: .85rem;
    font-size: 1.125rem;
    top: .85rem;
    opacity: .6;
}


/*
=============== 
Header
===============
*/

.banner {
    width: 100%;
    height: 18rem;
    background: url(../images/sjh-pathology-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}

h1::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: .125rem;
    content: "";
    background-color: var(--clr-primary-gold);
    margin-left: .625rem;
    margin-right: .625rem;
}

.header-sub {
    padding: .75rem .625rem .8125rem;
    display: flex;
}

.header-sub>ol {
    width: calc(100% - 20rem);
    min-width: 56rem;
}

.header-sub>.container {
    width: 20rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-breadcrumbs {
    padding-left: 0;
}

.breadcrumb a::before {
    display: inline-block;
    padding-right: .5rem;
    content: "/";
}

.breadcrumb:first-of-type a::before {
    display: none;
}

.nav-breadcrumbs>li>a {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: .5rem;
    font-size: 1rem;
    color: hsl(0, 0%, 51%);
    font-weight: 400;
}

.nav-breadcrumbs>li:first-child>a {
    padding-left: 0;
}

.breadcrumb:last-of-type a {
    font-weight: 700;
}

.nav-social,
.nav-print {
    padding-left: 0;
}

.nav-social>li,
.nav-print>li {
    padding-left: .5rem;
}

.nav-social>li>a,
.nav-print>li>a {
    padding: .125rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    border: .125rem solid hsl(223, 30%, 95%);
    border-radius: 50%;
    font-size: 1rem;
}

.nav-social>li:first-of-type>a {
    color: hsl(212, 65%, 43%);
}

.nav-social>li:nth-of-type(2)>a {
    color: hsl(213, 90%, 52%);
}

.nav-social>li:nth-of-type(3)>a {
    color: hsl(204, 79%, 47%);
}

.nav-social+h5 {
    padding-left: 1rem;
}

.nav-print>li:first-of-type>a {
    color: var(--clr-primary-blue-dark);
}


/*
=============== 
Carousel
===============
*/

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -400%;
    }
    98% {
        left: -400%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

.carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0;
}

.carousel *::-webkit-scrollbar {
    width: 0;
}

.carousel *::-webkit-scrollbar-track {
    background: transparent;
}

.carousel *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

.carousel * {
    -ms-overflow-style: none;
}


/* ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
} */

.carousel {
    position: relative;
    padding-top: 62.5%;
    /* filter: drop-shadow(0 0 10px #0003); */
    perspective: 6.25rem;
    margin-left: .625rem;
    margin-bottom: 3rem;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 3rem;
    max-width: 47rem;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel__slide::marker {
    color: transparent;
}

.carousel__slide:first-child {
    background-image: url(../images/carousel-image-1.jpg);
}

.carousel__slide:nth-child(2) {
    background-image: url(../images/carousel-image-2.jpeg);
}

.carousel__slide:nth-child(3) {
    background-image: url(../images/carousel-image-3.jpg);
    background-position: center bottom;
}

.carousel__slide:nth-child(4) {
    background-image: url(../images/carousel-image-4.jpeg);
    background-position: center bottom;
}

.carousel__slide:nth-child(5) {
    background-image: url(../images/carousel-image-5.jpg);
    background-position: center bottom;
}

.carousel__slide:before {
    content: "";
    position: absolute;
    top: 66.3%;
    left: 50%;
    transform: translate3d(-50%, -40%, 4.375rem);
    color: var(--clr-primary-white);
    background-color: var(--clr-primary-blue-dark);
    width: 100%;
    opacity: .75;
    height: 6%;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    max-width: 47rem;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--clr-primary-blue-dark);
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 24%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: 1%;
}

.carousel::after,
.carousel__next {
    left: calc(43rem - 1%);
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: var(--clr-primary-blue-dark);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--clr-primary-white);
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel__slide>.btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__slide>.btn:hover {
    transform: translate(-50%, -50%) scale(1.05);
}


/*
=============== 
Resources
===============
*/

.container-tabset {
    background-color: var(--clr-primary-blue-pale);
    padding: 1rem;
}

.tabset {
    position: relative;
}

.container-tabset>h2,
.tabset {
    max-width: 47rem;
}

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3) {
    display: flex;
    align-items: center;
}

.tabset>label {
    position: relative;
    display: inline-block;
    padding: 1.625rem 1rem 2.625rem;
    margin-bottom: -1.875rem;
    border: .0625rem solid transparent;
    border-bottom: 0;
    cursor: pointer;
    width: 33.05%;
    text-align: center;
    background-color: var(--clr-primary-blue-dark);
    top: 1rem;
    /* transition: top .2s; */
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    opacity: .925;
}

.tabset>label:nth-of-type(3) {
    right: -.045%;
    position: absolute;
}

.tabset>label>h4 {
    color: var(--clr-primary-white);
}

.tabset>label>h4,
.tabset>input:checked+label>h4 {
    opacity: unset;
    margin-bottom: unset;
}

.tabset>label>h4>span,
.tabset>input:checked+label>h4>span {
    font-weight: 500;
    letter-spacing: unset;
    font-family: sans-serif;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: var(--clr-primary-gold);
}

.tabset>input:checked+label {
    border-color: var(--clr-primary-blue-dark);
    border-bottom: .0625rem solid var(--clr-primary-white);
    margin-bottom: -.0625rem;
    background: var(--clr-primary-white);
    padding-bottom: 2.5rem;
    top: .025rem;
    position: relative;
    z-index: 3;
    /* transition: top .2s; */
    opacity: 1;
}

.tabset>input:checked+label>h4 {
    color: var(--clr-primary-blue-dark);
}

.tab-panels {
    z-index: 2;
    position: relative;
    background-color: var(--clr-primary-white);
}

.tab-panel {
    padding: 2.5rem 4rem 2.5rem 3rem;
    border: .0625rem solid var(--clr-primary-blue-dark);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    min-height: 25rem;
}

.tab-panel img {
    width: 12rem;
    margin-right: 1.5rem;
}

.tab-panel .logo-expertpath {
    width: 8rem;
    position: relative;
    top: 2.5rem;
}

.tab-panel p {
    text-align: left;
}

.tab-panel p:last-of-type {
    margin-bottom: 0;
}


/*
=============== 
Lectures
===============
*/

.lectures h5 {
    color: var(--clr-primary-white);
    font-size: 1.25rem;
}

.lectures input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.lectures .row {
    display: flex;
}

.lectures .row>.col {
    flex: 1;
}

.tabs {
    border-radius: .25rem;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
}

.tab {
    width: 100%;
    color: var(--clr-primary-white);
    overflow: hidden;
}

.tab-content {
    max-height: 0;
    padding: 0 1.25rem;
    color: var(--clr-primary-blue-dark);
    background: var(--clr-primary-white);
    transition: all .35s;
}

.tab-content>p {
    margin: 0 0 1.25rem;
    font-size: 1.125rem;
    color: var(--clr-primary-black);
}

.tab-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.5rem 1rem 1.25rem;
    background: var(--clr-primary-blue-dark);
    font-weight: 700;
    cursor: pointer;
    line-height: 1;
    margin-bottom: .1rem;
}

.tab-label:hover {
    background: hsl(218, 50%, 16%);
}

.tab-label::after {
    content: "\002B";
    font-size: 3.1rem;
    text-align: center;
    font-weight: 400;
    transition: all .35s;
}

input:checked+.tab-label,
input:checked+.tab-label h5 {
    /* background: hsl(218, 50%, 16%); */
    color: var(--clr-primary-gold);
}

input:checked+.tab-label::after {
    content: "\2212";
}

input:checked~.tab-content {
    max-height: 100vh;
    padding: 1.875rem 1.25rem 1rem;
}